body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }


  header {
    background: #f2f2f2;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5rem;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
    font-size: 1.3rem;
  }
  
  nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 5px;
  }
  
  .login-register{
    margin-left: 390px;
  }

  .login-register ul li :hover
  {
    text-decoration: underline;


  }

  
  
  section {
    background: #f2f2f2;
    padding: 50px 0;
    text-align: center;
  }
  
  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    display: block;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #candidate-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .candidate-card {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin: 10px;
    padding: 20px;
  }
  
  .candidate-card h3 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .candidate-card p {
    color: #666;
    margin-bottom: 10px;
  }




  footer {
    background: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
  }
  
  footer ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  footer ul li a {
    color: #333;
    text-decoration: none;
  }
  

  